﻿@model Phone

@{
    ViewData["Title"] = @Model.Name;
}

<h2>@Model.Name</h2>
<div style="width: 200px;">
    <form asp-action="EditCurrency">
        <div asp-validation-summary="All" class="text-danger"></div>
        <input type="hidden" asp-for="Id"/>
        <input type="hidden" asp-for="Name"/>
        <input type="hidden" asp-for="Company"/>
        <input type="hidden" asp-for="Price"/>
        <input type="hidden" asp-for="CategoryId"/>

        <div class="form-group">
            <label asp-for="MoneyId" class="control-label"></label>

            <select asp-for="MoneyId" class="form-control" asp-items="ViewBag.MoneyId">

                <option selected="selected" disabled="disabled" aria-disabled="True">Выберети валюту</option>

            </select>
            <span asp-validation-for="MoneyId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Изменить валюту" class="btn btn-success"/>
        </div>
    </form>
</div>
<div>
    <h4>@Model.Category.Name</h4>
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Company.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Company.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price) @Model.Money.CurrencyCode
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Category.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Category.Name)
        </dd>
    </dl>
</div>

<div>
    @if (ViewBag.PhoneList != null)
    {
        <table class="table table-striped">

            <thead>
            <tr>
                <th>
                    Имя
                </th>
                <th>
                    Описание
                </th> 
                <th>
                    Оценка
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var description in ViewBag.PhoneList)
            {
                <tr>

                    <td>@description.Name</td>
                    <td>@description.Text</td>
                    <td>@description.Rating</td>
                    <td><a asp-action="Create" asp-controller="Descriptions">добавить</a></td>
                </tr>
                <tr>


                </tr>
            }

        </table>
    }

</div>


<div>
    <a asp-action="OnCompanySite" asp-route-Company="@Model.Company.Name" class="btn btn-info">Сайт @Model.Company.Name</a>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-default">Редактировать</a>
    <a asp-action="Index" class="btn btn-primary">Вернуться к списку</a>
</div>