﻿@using MVC_Core_lesson.ViewModels
@model MVC_Core_lesson.ViewModels.IndexPhoneViewModel

@{
    ViewData["Title"] = "Список телефонов";
}

<h2>Список телефонов</h2>

<p>
    <a asp-action="Create" class="btn btn-info">Добавить</a>
</p>


<form method="get">
    <div class="row">
        <div class="container-fluid">
            <div class="col-lg-2 col-md-2">
                <div class="form-inline form-group">
                    @Html.DisplayNameFor(model => model.Name)
                    @Html.TextBox("Name", Model.Name, htmlAttributes: new {@class = "form-control"})
                </div>
            </div>
            <div class="col-lg-2 col-md-2">
                <div class="form-inline form-group">
                    @Html.DisplayNameFor(model => model.PriceFrom)
                    @Html.TextBox("priceFrom", Model.PriceFrom, htmlAttributes: new {@class = "form-control"})
                </div>
            </div>
            <div class="col-lg-2 col-md-2">
                <div class="form-inline form-group">
                    @Html.DisplayNameFor(model => model.PriceTo)
                    @Html.TextBox("priceTo", Model.PriceTo, htmlAttributes: new {@class = "form-control"})
                </div>

            </div>
            <div class="col-lg-2 col-md-2">
                <div class="form-inline form-group list-group-item">
                    @Html.DisplayNameFor(model => model.Company)
                    <select name="companyId" class="list-group-item-info">
                        <option></option>
                        @foreach (var s in Model.Companies)
                        {
                            if (Model.Company !=null)
                            {
                                <option selected="selected" value="@s.Value">@s.Text</option>
                            }
                            else
                            {
                                <option value="@s.Value">@s.Text</option>
                            }
                        }


                    </select>

                </div>
            </div>
            <div class="col-lg-2 col-md-2">
                <div class="form-inline form-group list-group-item">
                    @Html.DisplayNameFor(model => model.Category)
                    <select name="categoryId" class="list-group-item-info">
                        <option></option>
                        @foreach (var s in Model.Categories)
                        {
                            if (Model.Category != null )
                            {
                                <option selected="selected" value="@s.Value">@s.Text</option>
                            }
                            else
                            {
                                <option value="@s.Value">@s.Text</option>
                            }
                        }
                    </select>

                </div>

            </div>
            <div class="col-lg-2 col-md-2">
                <div class="form-inline form-group list-group-item">
                    @Html.DisplayNameFor(model => model.Money)
                    <select name="moneyId" class="list-group-item-info">
                        <option></option>
                        @foreach (var s in Model.Moneis)
                        {
                            if (Model.Money != null)
                            {
                                <option selected="selected" value="@s.Value">@s.Text</option>
                            }
                            else
                            {
                                <option value="@s.Value">@s.Text</option>
                            }
                        }


                    </select>

                </div>

            </div>
        </div>
    </div>
    <input type="submit" value="Фильтр" class="btn btn-info"/>
</form>


<table class="table table-striped">
    <thead>
    <tr>
        <th>
            <a asp-action="Index" asp-route-sortPhones="@ViewBag.NameSort">
                @Html.DisplayNameFor(model => model.Name)
            </a>

        </th>
        <th>
            <a asp-action="Index" asp-route-sortPhones="@ViewBag.CompanySort">
                @Html.DisplayNameFor(model => model.Company.Name)</a>
        </th>
        <th>
            <a asp-action="Index" asp-route-sortPhones="@ViewBag.PriceSort">
                @Html.DisplayNameFor(model => model.Price)</a>
        </th>
        <th>
            <a asp-action="Index" asp-route-sortPhones="@ViewBag.CategorySort">
                @Html.DisplayNameFor(model => model.Category)</a>
        </th>
        <th>
            <a asp-action="Index" asp-route-sortPhones="@ViewBag.MoneySort">
                @Html.DisplayNameFor(model => model.Money)</a>
        </th>
        <th>
            <a asp-action="Index" asp-route-sortPhones="@ViewBag.InStockSort">
                @Html.DisplayNameFor(model => model.InStock)</a>
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Phones)
    {
        <div class="">

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Company.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Money.CurrencyCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InStock)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-default">Редактировать</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Инфо по телефону</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Удалить</a>
                    <a asp-action="Download" asp-route-id="@item.Id" class="btn btn-primary">Скачать описание</a>
                </td>
            </tr>
        </div>
    }
    </tbody>
</table>

@if (Model.ViewModel.HasPreviousPage)
{
    <a asp-action="Index"
       asp-route-page="@(Model.ViewModel.PageNumber - 1)"
       class="btn btn-default btn">
        <i class="glyphicon glyphicon-chevron-left"></i>
        Назад
    </a>
}
@if (Model.ViewModel.HasNextPage)
{
    <a asp-action="Index"
       asp-route-page="@(Model.ViewModel.PageNumber + 1)"
       class="btn btn-default btn">
        Вперед
        <i class="glyphicon glyphicon-chevron-right"></i>
    </a>
}
