﻿@model MVC_Core_lesson.Models.Stock

@{
    ViewData["Title"] = $"{Model.Name}";
}

<h2>@Model.Name</h2>

<div>
  
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Редактирование</a> 
    <a asp-action="Download" asp-route-id="@Model.Id">Скачать</a>
    <a asp-action="Index">Назад</a>
</div>
