﻿@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Identity.UI.Pages.Account.Manage.Internal
@using MVC_Core_lesson.ViewModels

@model MVC_Core_lesson.ViewModels.IndexViewModel

@{
    ViewData["Title"] = "Home Page";
}

<br/>
@if (ViewBag.Message != null)
{
    <h2>@ViewBag.Message</h2>
}

@if (Model != null)
{
    using (Html.BeginForm("Index", "Home", FormMethod.Post))

    {
        <div class="row table-bordered">
            <h2 class="text-center">Поиск</h2>
            <div class="col-lg-4">
                @Html.Label("name", "Модель ")
                <input type="type" name="name" value=""/>

            </div>
            <div class="col-lg-8 center-block">
                @Html.Label("MinPrice", " C ")
                <input type="number" name="MinPrice"class="text-success"/>

                @Html.Label("MaxPrice", "По ")
                <input type="number" name="MaxPrice" class="text-danger"/>

            </div>


        </div>
        <div class="text-center">
            @Html.Label("isCheck", "Только в наличии")
            @Html.CheckBox("isCheck")
        </div>
        <input type="submit" class="btn btn-success"/>
        <hr/>
    }
    using (Html.BeginForm("Index", "Home", FormMethod.Get))
    {
        <select name="companyId" class="form-control">
            <option>Все</option>
            @foreach (Company comp in Model.Companies)
            {
                if (Model.Company != null && Model.Company.Id == comp.Id)
                {
                    <option value="@comp.Id" selected="selected">@comp.Name</option>
                }
                else
                {
                    <option value="@comp.Id">@comp.Name</option>
                }
            }
        </select>
        <br/>
        <input type="submit" class="btn btn-success"/>
    }
    <br/>


    <table class="table table-striped">

        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Company)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Currency)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (Phone p in Model.Phones)

        {
            <tr>

                <td>@p.Name</td>

                <td>

                    <a asp-area="" asp-controller="Home" asp-action="Index" asp-route-companyId="@p.CompanyId">@p.Company?.Name</a>
                </td>
                <td>
                    <!--  (Html.Kendo().NumericTextBox<double>()
                    .Name("custom")
                    .Format("#.00 kg")
                    .Min(0)
                    .Value(2)
                    .HtmlAttributes(new { style = "width: 100%", title = "custom" })-->

                    <label asp-for="@p.Price" asp-format="{0:c}">@p.Price</label>
                </td>
                <td>@p.Money.CurrencyCode</td>
                <td>@p.Category.Name</td>


            </tr>
        }

    </table>
}